@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(font.css);
@import url(common.css);

header {
    position: absolute; /* body를 기준으로 */
    left: 0;
    top: 0;
    z-index: 100;
    /* position 속성을 갖는 요소는 서로 위아래 순서가 생김
        header은 맨 위에 둘 요소라 제일 높은 값 100을 줌 */
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 16px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    line-height: 110px;
    /* 메뉴가 정확한 높이를 갖고 위아래 가운데 정렬이 됨
        하위 메뉴로 이동할 때 정확한 높이가 안잡히면 out됨 */
    font-family: 'Gmarket Sans';
    font-size: 22px;
    font-weight: 300;
    padding: 0 30px 0 30px;
}
header .tnb {
    display: flex;
    margin: 36px 0 0 0;
}
header .tnb .mypage a {
    display: block;
    width: 30px;
    height: 30px;
    
    /* 글자 지우고 아이콘으로 대체 */
    font-size: 0;
    line-height: 0;

    /* before 정렬의 기준 */
    position: relative;
    margin: 0 23px 0 0;
}
header .tnb .mypage a::before {
    content: "";
    position: absolute; /* a기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.74992 28.4999C11.1666 27.4166 12.7499 26.5624 14.4999 25.9374C16.2499 25.3124 18.0833 24.9999 19.9999 24.9999C21.9166 24.9999 23.7499 25.3124 25.4999 25.9374C27.2499 26.5624 28.8333 27.4166 30.2499 28.4999C31.2221 27.361 31.9791 26.0694 32.5208 24.6249C33.0624 23.1805 33.3333 21.6388 33.3333 19.9999C33.3333 16.3055 32.0346 13.1596 29.4374 10.5624C26.8402 7.9652 23.6944 6.66659 19.9999 6.66659C16.3055 6.66659 13.1596 7.9652 10.5624 10.5624C7.9652 13.1596 6.66659 16.3055 6.66659 19.9999C6.66659 21.6388 6.93742 23.1805 7.47909 24.6249C8.02075 26.0694 8.7777 27.361 9.74992 28.4999ZM19.9999 21.6666C18.361 21.6666 16.9791 21.1041 15.8541 19.9791C14.7291 18.8541 14.1666 17.4721 14.1666 15.8333C14.1666 14.1944 14.7291 12.8124 15.8541 11.6874C16.9791 10.5624 18.361 9.99992 19.9999 9.99992C21.6388 9.99992 23.0208 10.5624 24.1458 11.6874C25.2708 12.8124 25.8333 14.1944 25.8333 15.8333C25.8333 17.4721 25.2708 18.8541 24.1458 19.9791C23.0208 21.1041 21.6388 21.6666 19.9999 21.6666ZM19.9999 36.6666C17.6944 36.6666 15.5277 36.2291 13.4999 35.3541C11.4721 34.4791 9.70825 33.2916 8.20825 31.7916C6.70825 30.2916 5.52075 28.5277 4.64575 26.4999C3.77075 24.4721 3.33325 22.3055 3.33325 19.9999C3.33325 17.6944 3.77075 15.5277 4.64575 13.4999C5.52075 11.4721 6.70825 9.70825 8.20825 8.20825C9.70825 6.70825 11.4721 5.52075 13.4999 4.64575C15.5277 3.77075 17.6944 3.33325 19.9999 3.33325C22.3055 3.33325 24.4721 3.77075 26.4999 4.64575C28.5277 5.52075 30.2916 6.70825 31.7916 8.20825C33.2916 9.70825 34.4791 11.4721 35.3541 13.4999C36.2291 15.5277 36.6666 17.6944 36.6666 19.9999C36.6666 22.3055 36.2291 24.4721 35.3541 26.4999C34.4791 28.5277 33.2916 30.2916 31.7916 31.7916C30.2916 33.2916 28.5277 34.4791 26.4999 35.3541C24.4721 36.2291 22.3055 36.6666 19.9999 36.6666ZM19.9999 33.3333C21.4721 33.3333 22.861 33.118 24.1666 32.6874C25.4721 32.2569 26.6666 31.6388 27.7499 30.8333C26.6666 30.0277 25.4721 29.4096 24.1666 28.9791C22.861 28.5485 21.4721 28.3333 19.9999 28.3333C18.5277 28.3333 17.1388 28.5485 15.8333 28.9791C14.5277 29.4096 13.3333 30.0277 12.2499 30.8333C13.3333 31.6388 14.5277 32.2569 15.8333 32.6874C17.1388 33.118 18.5277 33.3333 19.9999 33.3333ZM19.9999 18.3333C20.7221 18.3333 21.3194 18.0971 21.7916 17.6249C22.2638 17.1527 22.4999 16.5555 22.4999 15.8333C22.4999 15.111 22.2638 14.5138 21.7916 14.0416C21.3194 13.5694 20.7221 13.3333 19.9999 13.3333C19.2777 13.3333 18.6805 13.5694 18.2083 14.0416C17.736 14.5138 17.4999 15.111 17.4999 15.8333C17.4999 16.5555 17.736 17.1527 18.2083 17.6249C18.6805 18.0971 19.2777 18.3333 19.9999 18.3333Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

}
header .tnb .language button {
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
header .tnb .language button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.6667 33.3749C18.75 33.3749 17.9653 33.0416 17.3125 32.3749C16.6597 31.7083 16.3333 30.9166 16.3333 29.9999C16.3333 29.0833 16.6597 28.2985 17.3125 27.6458C17.9653 26.993 18.75 26.6666 19.6667 26.6666L20.6667 25.7083C20.8889 25.486 21.1458 25.3124 21.4375 25.1874C21.7292 25.0624 22.0278 24.9999 22.3333 24.9999C22.9722 24.9999 23.5208 25.236 23.9792 25.7083C24.4375 26.1805 24.6667 26.736 24.6667 27.3749V28.0833C24.6667 28.6388 24.8472 29.0971 25.2083 29.4583C25.5694 29.8194 26.0278 29.9999 26.5833 29.9999C27 29.9999 27.375 29.8749 27.7083 29.6249C28.0417 29.3749 28.2778 29.0555 28.4167 28.6666L28.9167 27.2916C29.1667 26.6249 29.5694 26.0763 30.125 25.6458C30.6806 25.2152 31.3194 24.9999 32.0417 24.9999C32.3472 24.2221 32.5903 23.4166 32.7708 22.5833C32.9514 21.7499 33.0417 20.8888 33.0417 19.9999C33.0417 17.5277 32.4236 15.2708 31.1875 13.2291C29.9514 11.1874 28.3333 9.58325 26.3333 8.41658V9.99992C26.3333 10.9166 26.0069 11.7013 25.3542 12.3541C24.7014 13.0069 23.9167 13.3333 23 13.3333H21.3333V16.6666C21.3333 17.1388 21.1736 17.5346 20.8542 17.8541C20.5347 18.1735 20.1389 18.3333 19.6667 18.3333H18V21.1666C18 21.7777 17.7917 22.2916 17.375 22.7083C16.9583 23.1249 16.4444 23.3333 15.8333 23.3333C15.4444 23.3333 15.0903 23.2499 14.7708 23.0833C14.4514 22.9166 14.1944 22.6805 14 22.3749L11.3333 18.3333H9.66667V19.9999C9.66667 20.861 9.375 21.5971 8.79167 22.2083C8.20833 22.8194 7.51389 23.1805 6.70833 23.2916C7.43056 26.1805 8.99306 28.5833 11.3958 30.4999C13.7986 32.4166 16.5556 33.3749 19.6667 33.3749ZM23 23.3333C22.5278 23.3333 22.1319 23.1735 21.8125 22.8541C21.4931 22.5346 21.3333 22.1388 21.3333 21.6666C21.3333 21.1944 21.4931 20.7985 21.8125 20.4791C22.1319 20.1596 22.5278 19.9999 23 19.9999H24.6667C25.1389 19.9999 25.5347 20.1596 25.8542 20.4791C26.1736 20.7985 26.3333 21.1944 26.3333 21.6666C26.3333 22.1388 26.1736 22.5346 25.8542 22.8541C25.5347 23.1735 25.1389 23.3333 24.6667 23.3333H23ZM26.875 18.3333C26.3194 18.3333 25.8819 18.118 25.5625 17.6874C25.2431 17.2569 25.1667 16.7777 25.3333 16.2499L25.9583 14.4166C26.0694 14.0833 26.2639 13.8194 26.5417 13.6249C26.8194 13.4305 27.125 13.3333 27.4583 13.3333C28.0139 13.3333 28.4514 13.5485 28.7708 13.9791C29.0903 14.4096 29.1667 14.8888 29 15.4166L28.375 17.2499C28.2639 17.5833 28.0694 17.8471 27.7917 18.0416C27.5139 18.236 27.2083 18.3333 26.875 18.3333ZM19.6667 36.6666C17.3611 36.6666 15.1944 36.2291 13.1667 35.3541C11.1389 34.4791 9.375 33.2916 7.875 31.7916C6.375 30.2916 5.1875 28.5277 4.3125 26.4999C3.4375 24.4721 3 22.3055 3 19.9999C3 17.6944 3.4375 15.5277 4.3125 13.4999C5.1875 11.4721 6.375 9.70825 7.875 8.20825C9.375 6.70825 11.1389 5.52075 13.1667 4.64575C15.1944 3.77075 17.3611 3.33325 19.6667 3.33325C21.9722 3.33325 24.1389 3.77075 26.1667 4.64575C28.1944 5.52075 29.9583 6.70825 31.4583 8.20825C32.9583 9.70825 34.1458 11.4721 35.0208 13.4999C35.8958 15.5277 36.3333 17.6944 36.3333 19.9999C36.3333 22.3055 35.8958 24.4721 35.0208 26.4999C34.1458 28.5277 32.9583 30.2916 31.4583 31.7916C29.9583 33.2916 28.1944 34.4791 26.1667 35.3541C24.1389 36.2291 21.9722 36.6666 19.6667 36.6666Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.visual {
    height: 900px;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual h2 {
    font-family: 'Gmarket Sans';
    font-weight: 700;
    font-size: 50px;
    line-height: 1.1;
    padding: 427px 0 0 0;
}
.biz {
    margin: 179px 0 0 0;
}
.biz .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex로 정렬된 tit하고 list의 높이가 동일하게 설정됨. 각자 콘텐츠의 높이대로만 높이가 잡히도록 설정하기 위해서. tit에 sticky 적용하기 위해서 */
}
.biz .tit {
    position: sticky; /* 주의사항: 감싸는 요소중에서 단 하나라도 overflow:hidden; 이 적용되어 있으면 적용되지 않음=>실제로는 이렇게 코딩 못 함 */
    top: 0;
}
.biz .tit strong {
    color: #5E63A3
}
.biz .tit h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 300;
    line-height: 1.1;
    margin: 10px 0 0 0;
    color: #1d1d1d;
}
.biz .list {
    width: 725px;
    padding: 0 0 4px 0; /* list가 transform으로 이동한 많큼 */
}
.biz .list ul {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 허용 */
    gap: 25px;
    flex-direction: row-reverse;
}
.biz .list ul li {
    width: 350px;
}
.biz .list ul li:nth-child(odd) {
    /* 홀수 */
    transform: translatey(4px);
}
.biz .list ul li:nth-child(even) {
    /* 짝수 */
    transform: translatey(247px);
}
.biz .list ul li a {
    display: flex;
    align-items: end; /*a안에 photo, inner가 있는데 photo는 absolute를 줘서 flex의 영향을 안받음. inner를 a안에서 하단 정렬로 배치함 */
    position: relative; /* photo 정렬의 기준 */
    height: 503px;
    color: #fff;
    border-radius: 20px;
    overflow: hidden;
}
.biz .list ul li a .photo {
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1; /* position이 있는 photo와 position이 없는 inner가 나란히 존재하는 경우 position이 있는 photo가 위에 올라감 무조건 아래로 배치되게 하는 값 */
    width: 100%;
    height: 100%;
}
.biz .list ul li a .inner {
    padding: 0 41px 63px 41px;
}
.biz .list ul li a h3 {
    font-family: 'Gmarket Sans';
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
}
.biz .list ul li a p {
    display: none;
    margin: 21px 0 45px 0;
}
.biz .list ul li a span {
    display: none;  
    font-size: 15px;
    position: relative;
    padding: 0 40px 0 0;
}
.biz .list ul li a span::after {
    content: "";
    position: absolute;
    right: 8px;
    top: -3px;
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8438 15L12.875 17.9688C12.6458 18.1979 12.5312 18.4844 12.5312 18.8281C12.5312 19.1719 12.6458 19.4688 12.875 19.7188C13.125 19.9688 13.4219 20.0938 13.7656 20.0938C14.1094 20.0938 14.4062 19.9688 14.6562 19.7188L18.5 15.875C18.75 15.625 18.875 15.3333 18.875 15C18.875 14.6667 18.75 14.375 18.5 14.125L14.625 10.25C14.375 10 14.0833 9.88021 13.75 9.89062C13.4167 9.90104 13.125 10.0312 12.875 10.2812C12.6458 10.5312 12.526 10.8229 12.5156 11.1562C12.5052 11.4896 12.625 11.7812 12.875 12.0312L15.8438 15ZM15 27.5C13.2708 27.5 11.6458 27.1719 10.125 26.5156C8.60417 25.8594 7.28125 24.9688 6.15625 23.8438C5.03125 22.7188 4.14062 21.3958 3.48438 19.875C2.82812 18.3542 2.5 16.7292 2.5 15C2.5 13.2708 2.82812 11.6458 3.48438 10.125C4.14062 8.60417 5.03125 7.28125 6.15625 6.15625C7.28125 5.03125 8.60417 4.14062 10.125 3.48438C11.6458 2.82812 13.2708 2.5 15 2.5C16.7292 2.5 18.3542 2.82812 19.875 3.48438C21.3958 4.14062 22.7188 5.03125 23.8438 6.15625C24.9688 7.28125 25.8594 8.60417 26.5156 10.125C27.1719 11.6458 27.5 13.2708 27.5 15C27.5 16.7292 27.1719 18.3542 26.5156 19.875C25.8594 21.3958 24.9688 22.7188 23.8438 23.8438C22.7188 24.9688 21.3958 25.8594 19.875 26.5156C18.3542 27.1719 16.7292 27.5 15 27.5ZM15 25C17.7917 25 20.1562 24.0312 22.0938 22.0938C24.0312 20.1562 25 17.7917 25 15C25 12.2083 24.0312 9.84375 22.0938 7.90625C20.1562 5.96875 17.7917 5 15 5C12.2083 5 9.84375 5.96875 7.90625 7.90625C5.96875 9.84375 5 12.2083 5 15C5 17.7917 5.96875 20.1562 7.90625 22.0938C9.84375 24.0312 12.2083 25 15 25Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* 오버했을 때 */
.biz .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #464D9C;
    opacity: 0.8;
    display: none;
}
.biz .list ul li a:hover .photo::before {
    display: block;
}
.biz .list ul li a:hover p {
    display: block;
    /* display:none으로 안보이게 한 요소는 display에 다른 속성 아무거나 줘도 나타나게 됨. */
}
.biz .list ul li a:hover span {
    display: inline-block;
}


.news {
    margin: 166px 0 0 0;
    padding: 157px 0 657px 0;
    background-color: #E6EAF5;
}
.news .wrapper {
    position: relative;
}
.news .tit strong {
    color: #5E63A3;
}
.news .tit h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 300;
    line-height: 1.1;
    color: #1d1d1d;
    margin: 10px 0 42px 0;
}
.news .list ul li a {
    display: flex;
    margin: 0 0 18px 0;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    background-color: #EFF3FF;
    line-height: 90px; /* a의 높이를 행간으로 주면 글자가 그 높이의 위아래 가운데에 정렬 */
    border: 1px solid rgba(102,102,102,0.4);
    border-radius: 50px;
    font-size: 18px;
    color: #3d3d3d;
    transition: 0.3s;
}
.news .list ul li a h3 {
    width: calc(100% - 492px); /* a안에는 제목과 날짜가 존재하는데 날짜는 길이가 변하지 않음. 그래서 날짜가 들어갈 넓이와 제목 사이의 여백을 더해서 100%(a의 넓이 기준)에서 빼줌=>h3가 가질 수 있는 최대 넓이
                                    제목은 길게 작성 될 수도 있기 때문에 너무 길면 문자를 잘라버려야 함
                                    
                                    제목을 1줄로 제한할 때 조건
                                    1. 넓이가 명확해야 함(block요소 제거)
                                    2. */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news .list ul li a span {
    font-size: 15px;
    color: #666;
}
.news .list ul li a:hover {
    background-color: #464D9C;
    color: #fff;
}
.news .list ul li a:hover span {
    color: #fff;
}
.news .more {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 50px;
}
.news .more a {
    display: block;
    padding: 0 38px 0 0;
    position: relative;
    font-size: 18px;
    margin: 0 10px 0 0;
}
.news .more a::after {
    content: "";
    position: absolute;
    right: 13px;
    top: 3px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8438 15L12.875 17.9688C12.6458 18.1979 12.5312 18.4844 12.5312 18.8281C12.5312 19.1719 12.6458 19.4688 12.875 19.7188C13.125 19.9688 13.4219 20.0938 13.7656 20.0938C14.1094 20.0938 14.4062 19.9688 14.6562 19.7188L18.5 15.875C18.75 15.625 18.875 15.3333 18.875 15C18.875 14.6667 18.75 14.375 18.5 14.125L14.625 10.25C14.375 10 14.0833 9.88021 13.75 9.89062C13.4167 9.90104 13.125 10.0312 12.875 10.2812C12.6458 10.5312 12.526 10.8229 12.5156 11.1562C12.5052 11.4896 12.625 11.7812 12.875 12.0312L15.8438 15ZM15 27.5C13.2708 27.5 11.6458 27.1719 10.125 26.5156C8.60417 25.8594 7.28125 24.9688 6.15625 23.8438C5.03125 22.7188 4.14062 21.3958 3.48438 19.875C2.82812 18.3542 2.5 16.7292 2.5 15C2.5 13.2708 2.82812 11.6458 3.48438 10.125C4.14062 8.60417 5.03125 7.28125 6.15625 6.15625C7.28125 5.03125 8.60417 4.14062 10.125 3.48438C11.6458 2.82812 13.2708 2.5 15 2.5C16.7292 2.5 18.3542 2.82812 19.875 3.48438C21.3958 4.14062 22.7188 5.03125 23.8438 6.15625C24.9688 7.28125 25.8594 8.60417 26.5156 10.125C27.1719 11.6458 27.5 13.2708 27.5 15C27.5 16.7292 27.1719 18.3542 26.5156 19.875C25.8594 21.3958 24.9688 22.7188 23.8438 23.8438C22.7188 24.9688 21.3958 25.8594 19.875 26.5156C18.3542 27.1719 16.7292 27.5 15 27.5ZM15 25C17.7917 25 20.1562 24.0312 22.0938 22.0938C24.0312 20.1562 25 17.7917 25 15C25 12.2083 24.0312 9.84375 22.0938 7.90625C20.1562 5.96875 17.7917 5 15 5C12.2083 5 9.84375 5.96875 7.90625 7.90625C5.96875 9.84375 5 12.2083 5 15C5 17.7917 5.96875 20.1562 7.90625 22.0938C9.84375 24.0312 12.2083 25 15 25Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 1s;
}
.news .more a:hover {
    color: #464D9C;
}
.news .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8438 15L12.875 17.9688C12.6458 18.1979 12.5312 18.4844 12.5312 18.8281C12.5312 19.1719 12.6458 19.4688 12.875 19.7188C13.125 19.9688 13.4219 20.0938 13.7656 20.0938C14.1094 20.0938 14.4062 19.9688 14.6562 19.7188L18.5 15.875C18.75 15.625 18.875 15.3333 18.875 15C18.875 14.6667 18.75 14.375 18.5 14.125L14.625 10.25C14.375 10 14.0833 9.88021 13.75 9.89062C13.4167 9.90104 13.125 10.0312 12.875 10.2812C12.6458 10.5312 12.526 10.8229 12.5156 11.1562C12.5052 11.4896 12.625 11.7812 12.875 12.0312L15.8438 15ZM15 27.5C13.2708 27.5 11.6458 27.1719 10.125 26.5156C8.60417 25.8594 7.28125 24.9688 6.15625 23.8438C5.03125 22.7188 4.14062 21.3958 3.48438 19.875C2.82812 18.3542 2.5 16.7292 2.5 15C2.5 13.2708 2.82812 11.6458 3.48438 10.125C4.14062 8.60417 5.03125 7.28125 6.15625 6.15625C7.28125 5.03125 8.60417 4.14062 10.125 3.48438C11.6458 2.82812 13.2708 2.5 15 2.5C16.7292 2.5 18.3542 2.82812 19.875 3.48438C21.3958 4.14062 22.7188 5.03125 23.8438 6.15625C24.9688 7.28125 25.8594 8.60417 26.5156 10.125C27.1719 11.6458 27.5 13.2708 27.5 15C27.5 16.7292 27.1719 18.3542 26.5156 19.875C25.8594 21.3958 24.9688 22.7188 23.8438 23.8438C22.7188 24.9688 21.3958 25.8594 19.875 26.5156C18.3542 27.1719 16.7292 27.5 15 27.5ZM15 25C17.7917 25 20.1562 24.0312 22.0938 22.0938C24.0312 20.1562 25 17.7917 25 15C25 12.2083 24.0312 9.84375 22.0938 7.90625C20.1562 5.96875 17.7917 5 15 5C12.2083 5 9.84375 5.96875 7.90625 7.90625C5.96875 9.84375 5 12.2083 5 15C5 17.7917 5.96875 20.1562 7.90625 22.0938C9.84375 24.0312 12.2083 25 15 25Z' fill='%23464D9C'/%3E%3C/svg%3E%0A");
    transform: rotate(360deg);
}
.webzine {
    margin: 184px 0 0 0;
    position: relative;
}
.webzine .tit strong {
    color: #5E63A3
}
.webzine .tit h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 300;
    line-height: 1.1;
    margin: 10px 0 0 0;
    color: #1d1d1d;
}
.webzine .list {
    margin: 50px 0 0 0;
    overflow: hidden;
}
.webzine .list ul {
    display: flex;
    gap: 24px;
    /* li의 넓이(404) * li의 갯수(5) + li의 여백(24) * li의 갯수-1(4) = 2020 + 96 = 2116 
        flex로 정렬된 li들은 무조건 한줄로 들어가려고 li에 넓이를 줘도 찌그러짐(사이즈가 변경됨=>넓이가 wrapper보다 넓을 때)
        넓이를 유지하려면 넓이를 계산해서 ul한테 줘야함 */
    width: 2116px; /* absolute는 공간을 차지하지 않고 순서를 역행하지만 relative는 공간을 차지 */
    position: relative; /* 아무것도 기준으로 두지 않았을 때는 body를 기준으로 정렬*/
    left: 50%; /* 감싸는 영역 넓이의 50% */
    transform: translateX(-50%); /* ul 자기 자신 넓이의 50% */
}
.webzine .list ul li {
    width: 404px;
}
.wezine .list ul li a {
    display: block;
}
.webzine .list ul li a .photo {
    height: 279px;
    position: relative;
    overflow: hidden;
}
.webzine .list ul li a .photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 1s;
}
.webzine .list ul li a .photo .category {
    position: absolute; /* photo를 기준으로 정렬 */
    bottom: 0;
    left: 0;
    background-color: #808FDE;
    color: #fff;
    padding: 8px 11px 8px 11px;
}
.webzine .list ul li a h3 {
    font-size: 25px;
    margin: 28px 0 34px 0;
    color: #1d1d1d;

    /* 1줄로 제한 */
    white-space: nowrap; /* 줄바꿈 금지 */
    overflow: hidden;
    text-overflow: ellipsis; /* 잘린 글자에 ...추가 */
}
.webzine .list ul li a p {
    /* 2줄로 제한 */
    line-height: 1.4;
    height: 4.2em/* 행간*줄수(상대크기라서 em) */;
    overflow: hidden;
}
.webzine .list ul li a:hover .photo .category {
    background: #464D9C;
}
.webzine .list ul li a:hover .photo img {
    transform: scale3d(1.2,1.2,1);
}
.webzine .more {
    position: absolute;
    right: calc(50% - 630px);
    top: 30px;
    /* wrapper를 기준으로 정렬해서 layout의 오른쪽에 배치하면 좋겠지만 코딩 구조상 불가할 경우
        가운데를 기준으로 레이아웃 넓이의 절반을 빼거나 더해서 오른쪽 혹은 왼쪽에 배치 */
}
.webzine .more a {
    display: block;
    padding: 0 38px 0 0;
    position: relative;
    font-size: 18px;
    margin: 0 10px 0 0;
}
.webzine .more a::after {
    content: "";
    position: absolute;
    right: 13px;
    top: 3px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8438 15L12.875 17.9688C12.6458 18.1979 12.5312 18.4844 12.5312 18.8281C12.5312 19.1719 12.6458 19.4688 12.875 19.7188C13.125 19.9688 13.4219 20.0938 13.7656 20.0938C14.1094 20.0938 14.4062 19.9688 14.6562 19.7188L18.5 15.875C18.75 15.625 18.875 15.3333 18.875 15C18.875 14.6667 18.75 14.375 18.5 14.125L14.625 10.25C14.375 10 14.0833 9.88021 13.75 9.89062C13.4167 9.90104 13.125 10.0312 12.875 10.2812C12.6458 10.5312 12.526 10.8229 12.5156 11.1562C12.5052 11.4896 12.625 11.7812 12.875 12.0312L15.8438 15ZM15 27.5C13.2708 27.5 11.6458 27.1719 10.125 26.5156C8.60417 25.8594 7.28125 24.9688 6.15625 23.8438C5.03125 22.7188 4.14062 21.3958 3.48438 19.875C2.82812 18.3542 2.5 16.7292 2.5 15C2.5 13.2708 2.82812 11.6458 3.48438 10.125C4.14062 8.60417 5.03125 7.28125 6.15625 6.15625C7.28125 5.03125 8.60417 4.14062 10.125 3.48438C11.6458 2.82812 13.2708 2.5 15 2.5C16.7292 2.5 18.3542 2.82812 19.875 3.48438C21.3958 4.14062 22.7188 5.03125 23.8438 6.15625C24.9688 7.28125 25.8594 8.60417 26.5156 10.125C27.1719 11.6458 27.5 13.2708 27.5 15C27.5 16.7292 27.1719 18.3542 26.5156 19.875C25.8594 21.3958 24.9688 22.7188 23.8438 23.8438C22.7188 24.9688 21.3958 25.8594 19.875 26.5156C18.3542 27.1719 16.7292 27.5 15 27.5ZM15 25C17.7917 25 20.1562 24.0312 22.0938 22.0938C24.0312 20.1562 25 17.7917 25 15C25 12.2083 24.0312 9.84375 22.0938 7.90625C20.1562 5.96875 17.7917 5 15 5C12.2083 5 9.84375 5.96875 7.90625 7.90625C5.96875 9.84375 5 12.2083 5 15C5 17.7917 5.96875 20.1562 7.90625 22.0938C9.84375 24.0312 12.2083 25 15 25Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 1s;
}
.webzine .more a:hover {
    color: #464D9C;
}
.webzine .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8438 15L12.875 17.9688C12.6458 18.1979 12.5312 18.4844 12.5312 18.8281C12.5312 19.1719 12.6458 19.4688 12.875 19.7188C13.125 19.9688 13.4219 20.0938 13.7656 20.0938C14.1094 20.0938 14.4062 19.9688 14.6562 19.7188L18.5 15.875C18.75 15.625 18.875 15.3333 18.875 15C18.875 14.6667 18.75 14.375 18.5 14.125L14.625 10.25C14.375 10 14.0833 9.88021 13.75 9.89062C13.4167 9.90104 13.125 10.0312 12.875 10.2812C12.6458 10.5312 12.526 10.8229 12.5156 11.1562C12.5052 11.4896 12.625 11.7812 12.875 12.0312L15.8438 15ZM15 27.5C13.2708 27.5 11.6458 27.1719 10.125 26.5156C8.60417 25.8594 7.28125 24.9688 6.15625 23.8438C5.03125 22.7188 4.14062 21.3958 3.48438 19.875C2.82812 18.3542 2.5 16.7292 2.5 15C2.5 13.2708 2.82812 11.6458 3.48438 10.125C4.14062 8.60417 5.03125 7.28125 6.15625 6.15625C7.28125 5.03125 8.60417 4.14062 10.125 3.48438C11.6458 2.82812 13.2708 2.5 15 2.5C16.7292 2.5 18.3542 2.82812 19.875 3.48438C21.3958 4.14062 22.7188 5.03125 23.8438 6.15625C24.9688 7.28125 25.8594 8.60417 26.5156 10.125C27.1719 11.6458 27.5 13.2708 27.5 15C27.5 16.7292 27.1719 18.3542 26.5156 19.875C25.8594 21.3958 24.9688 22.7188 23.8438 23.8438C22.7188 24.9688 21.3958 25.8594 19.875 26.5156C18.3542 27.1719 16.7292 27.5 15 27.5ZM15 25C17.7917 25 20.1562 24.0312 22.0938 22.0938C24.0312 20.1562 25 17.7917 25 15C25 12.2083 24.0312 9.84375 22.0938 7.90625C20.1562 5.96875 17.7917 5 15 5C12.2083 5 9.84375 5.96875 7.90625 7.90625C5.96875 9.84375 5 12.2083 5 15C5 17.7917 5.96875 20.1562 7.90625 22.0938C9.84375 24.0312 12.2083 25 15 25Z' fill='%23464D9C'/%3E%3C/svg%3E%0A");
    transform: rotate(360deg);
}


.banner {
    margin: 165px 0 0 0;
    background-color: #E6EAF5;
    padding: 147px 0 670px 0;
}
.banner .tit strong {
    color: #5E63A3;
}
.banner .tit h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 300;
    line-height: 1.1;
    margin: 10px 0 0 0;
    color: #1d1d1d;
}
.banner .list {
    margin: 53px 0 0 0;
}
.banner .list ul {
    display: flex;
    justify-content: space-between;
}
.banner .list ul li {
    width: 404px;
}
.banner .list ul li a {
    height: 136px;
    display: block;
    background-color: #fff;
    padding: 36px 0 0 45px;
    position: relative;
}
.banner .list ul li a h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 13px 0;
}
.banner .list ul li a::after {
    content: "";
    position: absolute;
    right: 40px;
    top: 57px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4751 12L7.12511 4.65C6.87511 4.4 6.75428 4.10417 6.76261 3.7625C6.77094 3.42083 6.90011 3.125 7.15011 2.875C7.40011 2.625 7.69594 2.5 8.03761 2.5C8.37928 2.5 8.67511 2.625 8.92511 2.875L16.6001 10.575C16.8001 10.775 16.9501 11 17.0501 11.25C17.1501 11.5 17.2001 11.75 17.2001 12C17.2001 12.25 17.1501 12.5 17.0501 12.75C16.9501 13 16.8001 13.225 16.6001 13.425L8.90011 21.125C8.65011 21.375 8.35844 21.4958 8.02511 21.4875C7.69178 21.4792 7.40011 21.35 7.15011 21.1C6.90011 20.85 6.77511 20.5542 6.77511 20.2125C6.77511 19.8708 6.90011 19.575 7.15011 19.325L14.4751 12Z' fill='%235F6368'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.banner .list ul li a:hover {
    color: #fff;
    background-color: #464D9C;
    transform: scale3d(1.1,1.1,1);
}
.banner .list ul li a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4751 12L7.12511 4.65C6.87511 4.4 6.75428 4.10417 6.76261 3.7625C6.77094 3.42083 6.90011 3.125 7.15011 2.875C7.40011 2.625 7.69594 2.5 8.03761 2.5C8.37928 2.5 8.67511 2.625 8.92511 2.875L16.6001 10.575C16.8001 10.775 16.9501 11 17.0501 11.25C17.1501 11.5 17.2001 11.75 17.2001 12C17.2001 12.25 17.1501 12.5 17.0501 12.75C16.9501 13 16.8001 13.225 16.6001 13.425L8.90011 21.125C8.65011 21.375 8.35844 21.4958 8.02511 21.4875C7.69178 21.4792 7.40011 21.35 7.15011 21.1C6.90011 20.85 6.77511 20.5542 6.77511 20.2125C6.77511 19.8708 6.90011 19.575 7.15011 19.325L14.4751 12Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}


footer {
    padding: 103px 0 325px 0;
    background-color: #3d3d3d;
    color: #fff;
}
footer .f_nav ul {
    display: flex;
    gap: 40px;
}
footer .f_nav ul li {
    position: relative;
}
footer .f_nav ul li.privacy a {
    font-weight: 700;
}
footer .f_nav ul li::after {
    content: "";
    position: absolute;
    right: -22px;
    top: 3px;
    width: 2px;
    height: 15px;
    background-color: rgba(217,217,217,0.2);
}
footer .f_nav ul li:last-child::after {
    display: none;
}
footer .f_info {
    margin: 50px 0 33px 0;
    display: flex;
    gap: 5px;
}
footer .copyright {
    color: rgba(255,255,255,0.5);
}
