@import url(default.css); 
@import url(font.css);
@import url(common.css);

header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin-top: 28px;
}
header .gnb .gnb_open, header .gnb .gnb_close {
    display: none; /*모바일에서만 나타나도록*/
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a{
    color: #1d1d1d;
    font-size: 22px;
    display: block;
    line-height: 100px;
    padding: 0 22px;
}
header .gnb .gnb_wrap ul li a span { /*글자 넓이대로 주려면 span태그에 주기*/
    position: relative;
}
header .gnb .gnb_wrap ul li a span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -37px;
    width: 100%;
    height: 2px;
    background-color: #255698;
    display: none;
}
header .gnb .gnb_wrap ul li a:hover {
    color: #255698;
    font-weight: 800;
}
header .gnb .gnb_wrap ul li a:hover span::after {      
    display: block; /*more해제*/
}
@media screen and (max-width:640px) {
            header {
                height: 55px;
                position: relative;
            }
            header .logo {
                margin-top: 16px;
            }
            header .logo a img {
                width: 89px; /*모바일에서 이미지의 사이즈가 변경 될 때 넓이나 높이 중 하나만 주면 나머지 값은 비율에 맞게 들어감*/
            }
            header .gnb .gnb_open {
                display: block; /*모바일에서만 나타나도록*/
                position: absolute;
                right: 0;
                top: 0;
                width: 60px;
                height: 50px;
                font-size: 0;
                line-height: 0;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.194' height='14.13' viewBox='0 0 21.194 14.13'%3E%3Cpath id='menu_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M121.177-705.87a1.139,1.139,0,0,1-.839-.339,1.139,1.139,0,0,1-.339-.839,1.139,1.139,0,0,1,.339-.839,1.139,1.139,0,0,1,.839-.339h18.839a1.139,1.139,0,0,1,.839.339,1.139,1.139,0,0,1,.339.839,1.139,1.139,0,0,1-.339.839,1.139,1.139,0,0,1-.839.339Zm0-5.887a1.139,1.139,0,0,1-.839-.339,1.139,1.139,0,0,1-.339-.839,1.139,1.139,0,0,1,.339-.839,1.14,1.14,0,0,1,.839-.338h18.839a1.139,1.139,0,0,1,.839.338,1.14,1.14,0,0,1,.339.839,1.139,1.139,0,0,1-.339.839,1.139,1.139,0,0,1-.839.339Zm0-5.887a1.139,1.139,0,0,1-.839-.339,1.139,1.139,0,0,1-.339-.839,1.139,1.139,0,0,1,.339-.839,1.139,1.139,0,0,1,.839-.339h18.839a1.139,1.139,0,0,1,.839.339,1.139,1.139,0,0,1,.339.839,1.139,1.139,0,0,1-.339.839,1.139,1.139,0,0,1-.839.339Z' transform='translate(-120 720)' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 21px; /*영역의 크기에 이미지가 꽉차지 않고 특정한 사이즈로 들어갈 때*/
            } /*감싸는 요소의 사이즈가 지정되어 있을 때 퍼센티지를 주고 background-size에 사이즈를 줌*/
            header .gnb .gnb_wrap {
                display: none; 
            }
}/*media*/


.visual {
    height: 800px;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual strong {
    padding: 391px 0 0 0;
    display: block;
}
.visual h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    margin: 5px 0 0 0;
}
@media screen and (max-width:640px) {
                .visual {
                    height: auto;
                }
                .visual strong {
                    padding: 81px 0 0 0;
                }
                .visual h2 {
                    font-size: 22px;
                    font-weight: 800;
                    line-height: 1.2;
                    margin: 1px 0 0 0;
                    padding: 0 0 112px 0;
                }
}/*media*/


.int {
    margin: 136px 0 0 0;
}
.int .text_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.int .text_right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.int .inner {
    width: 511px;
}
.int strong {
    color: #255698;
}
.int h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    margin: 8px 0;
    color: #1d1d1d;
}
.int h2 em {
    color: #255698;
}
.int .sub_tit {
    font-size: 20px;
    margin-bottom: 14px;
}
.int .btn_wrap {
    margin: 62px 0 0 0;
    display: flex;
    gap: 10px;
}
.int .btn_wrap a {
    border: 1px solid #255698;
    border-radius: 30px;
    padding: 9px 29px;
    color: #255698;
    display: block;
}
.int .btn_wrap a:hover {
    color: #255698;
    border: 1px solid #66D7D1;
    background-color: #66D7D1;
}
.int .btn_wrap a.primary {
    background-color: #255698;
    color: #fff;
}
.int .btn_wrap a:hover {
    color: #255698;
    border: 1px solid #66D7D1;
    background-color: #66D7D1;
}
.int .photo {
    height: 568px;
    border-radius: 30px;
    overflow: hidden;
}
.int .photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width:640px) {
                .int {
                    margin: 73px 0 0 0;
                }
                .int .text_left {
                    display: block;
                }
                .int .text_right {
                    display: block;
                    margin: 52px 0 0 0;
                }
                .int .inner {
                    width: auto;
                    margin: 0 0 32px 0;
                }
                .int h2 {
                    font-size: 22px;
                    margin: 6px 0;
                }
                .int .sub_tit {
                    font-size: 17px;
                    margin: 0 0 19px 0;
                }
                .int .btn_wrap {
                    margin: 25px 0 0 0;
                    display: flex;
                    gap: 5px;
                }
                .int .btn_wrap a {
                    border: 1px solid #255698;
                    padding: 10px 27px;
                }
                .int .btn_wrap a.primary {
                    background-color: #255698;
                    color: #fff;
                }
                .int .photo {
                    height: 568px;
                    border-radius: 30px;
                    overflow: hidden;
                }
}


.pr {
    margin: 140px 0 0 0;
    color: #fff;
    position: relative; /*before정렬의 기준*/
}
.pr::before {
    content: "";
    position: absolute; /*pr을 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: -1; /*콘텐츠 아래로 배치*/
    width: 100%;
    height: 882px;
    background: url(../images/pr_bg.jpg) no-repeat center top / cover;
}
.pr .news {
    padding: 137px 0 0 0;
}
.pr .news .wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
}
.pr .news .tit strong {
    color: #66D7D1;
}
.pr .news .tit h2 {
    font-size: 40px;
    font-weight: 800;
    margin: 8px 0 12px 0;
}
.pr .news .tit h2 em {
    color: #66D7D1;
}
.pr .news .list {
    width: 725px;
}
.pr .news .list ul li {
    border-bottom: 1px solid rgba(250,250,250,0.2);
}
.pr .news .list ul li:first-child {
    border-top: 1px solid rgba(250,250,250,0.2);
}
.pr .news .list ul li a {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}
.pr .news .list ul li a strong {
    font-size: 20px;
    width: calc(100% - 180px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pr .news .list ul li a:hover strong {
    font-weight: 700;
}
.pr .news .list ul li a span {
    color: rgba(250,250,250,0.8);
}
.pr .news .more {
    position: absolute;
    left: 0;
    top: 250px;
}
.pr .news .more a {
    display: block;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 15px 32px;
}
.pr .news .more a span {
    display: none;
}
.pr .news .more a:hover {
    color: #255698;
    border: 1px solid #66D7D1;
    background-color: #66D7D1;
}
.pr .video {
    margin: 203px 0 0 0;
}



footer {
    margin-top: 500px;
}