@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(font.css);
@import url(common.css);

header {
    position: absolute; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    /* header는 무조건 맨위에 있어야 하기 때문에 
       제일 높은 숫자 100을 줌 - 하단 콘텐츠는 100이하의 값을 줌 */
    width: 100%; 
    /* block에 absolute를 줘도 넓이가 없음(100%안됨)
       내부 요소 만큼만 늘어남 */
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin-top: 33px;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    font-size: 23px;
    font-weight: 800;
    color: #fff;
    padding: 37px 25px 30px 25px;
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    border-bottom-right-radius: 190px;
}
.visual .wrapper {
    height: 100vh;
    /* 브라우저의 콘텐츠 높이 100vh로 보는 상대값 */
    /* pic는 wrapper를 기준으로 오른쪽 하단에 absolute로 배치
      단 visual에 height가 있는 상태에서는 wrapper는 콘텐츠가 
      존재하는 만큼만 높이가 잡힘
      그래서 wrapper에 높이를 주고 visual은 그 높이만큼 들어가게하면
      편함. */
    position: relative; /* pic 정렬의 기준 */
}
.visual h2 {
    padding-top: calc(50vh - 179px);
    /* 50vh - 179px을 빼야함, 단위가 안맞음 
        이렇게 단위가 다른 수치를 계산할때 쓰는 식이
        calc()임 단, 반드시 - + 앞뒤로는 여백을 줘야함
        단위를 써야함. */
    text-align: center;
}
.visual .pic {
    position: absolute; /* wrapper를 기준으로 정렬, a::before 정렬의 중심 */
    right: -96px;
    bottom: -94px;
}
.visual .pic a {
    display: block;
    width: 188px;
    height: 188px;
    border-radius: 50%; /* 동그라미는 무조건 50% */
    background-color: #006DBB;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 98px;
    line-height: 1.2;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.15);
}
.visual .pic a::before {
    content: "";
    position: absolute; /* pic를 기준으로 정렬 */
    top: 47px;
    left: 50%;
    transform: translateX(-50%); /* 좌우에 가운데 */
    width: 40px; /* 아이콘 사이즈 */
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00033 35.0003C4.08366 35.0003 3.29894 34.6739 2.64616 34.0212C1.99338 33.3684 1.66699 32.5837 1.66699 31.667V11.667C1.66699 10.7503 1.99338 9.9656 2.64616 9.31283C3.29894 8.66005 4.08366 8.33366 5.00033 8.33366H10.2503L12.3337 6.08366C12.6392 5.75033 13.0073 5.48644 13.4378 5.29199C13.8684 5.09755 14.3198 5.00033 14.792 5.00033H21.667C22.1392 5.00033 22.535 5.16005 22.8545 5.47949C23.1739 5.79894 23.3337 6.19477 23.3337 6.66699C23.3337 7.13921 23.1739 7.53505 22.8545 7.85449C22.535 8.17394 22.1392 8.33366 21.667 8.33366H14.792L11.7503 11.667H5.00033V31.667H31.667V18.3337C31.667 17.8614 31.8267 17.4656 32.1462 17.1462C32.4656 16.8267 32.8614 16.667 33.3337 16.667C33.8059 16.667 34.2017 16.8267 34.5212 17.1462C34.8406 17.4656 35.0003 17.8614 35.0003 18.3337V31.667C35.0003 32.5837 34.6739 33.3684 34.0212 34.0212C33.3684 34.6739 32.5837 35.0003 31.667 35.0003H5.00033ZM31.667 8.33366H30.0003C29.5281 8.33366 29.1323 8.17394 28.8128 7.85449C28.4934 7.53505 28.3337 7.13921 28.3337 6.66699C28.3337 6.19477 28.4934 5.79894 28.8128 5.47949C29.1323 5.16005 29.5281 5.00033 30.0003 5.00033H31.667V3.33366C31.667 2.86144 31.8267 2.4656 32.1462 2.14616C32.4656 1.82671 32.8614 1.66699 33.3337 1.66699C33.8059 1.66699 34.2017 1.82671 34.5212 2.14616C34.8406 2.4656 35.0003 2.86144 35.0003 3.33366V5.00033H36.667C37.1392 5.00033 37.535 5.16005 37.8545 5.47949C38.1739 5.79894 38.3337 6.19477 38.3337 6.66699C38.3337 7.13921 38.1739 7.53505 37.8545 7.85449C37.535 8.17394 37.1392 8.33366 36.667 8.33366H35.0003V10.0003C35.0003 10.4725 34.8406 10.8684 34.5212 11.1878C34.2017 11.5073 33.8059 11.667 33.3337 11.667C32.8614 11.667 32.4656 11.5073 32.1462 11.1878C31.8267 10.8684 31.667 10.4725 31.667 10.0003V8.33366ZM18.3337 29.167C20.417 29.167 22.1878 28.4378 23.6462 26.9795C25.1045 25.5212 25.8337 23.7503 25.8337 21.667C25.8337 19.5837 25.1045 17.8128 23.6462 16.3545C22.1878 14.8962 20.417 14.167 18.3337 14.167C16.2503 14.167 14.4795 14.8962 13.0212 16.3545C11.5628 17.8128 10.8337 19.5837 10.8337 21.667C10.8337 23.7503 11.5628 25.5212 13.0212 26.9795C14.4795 28.4378 16.2503 29.167 18.3337 29.167ZM18.3337 25.8337C17.167 25.8337 16.1809 25.4309 15.3753 24.6253C14.5698 23.8198 14.167 22.8337 14.167 21.667C14.167 20.5003 14.5698 19.5142 15.3753 18.7087C16.1809 17.9031 17.167 17.5003 18.3337 17.5003C19.5003 17.5003 20.4864 17.9031 21.292 18.7087C22.0975 19.5142 22.5003 20.5003 22.5003 21.667C22.5003 22.8337 22.0975 23.8198 21.292 24.6253C20.4864 25.4309 19.5003 25.8337 18.3337 25.8337Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; /* 아이콘 안짤리고 사이즈에 딱 맞게 나오기 */
}
.visual .pic a:hover {
    color: #60E3D5;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.25);
}
.visual .pic a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00033 35.0003C4.08366 35.0003 3.29894 34.6739 2.64616 34.0212C1.99338 33.3684 1.66699 32.5837 1.66699 31.667V11.667C1.66699 10.7503 1.99338 9.9656 2.64616 9.31283C3.29894 8.66005 4.08366 8.33366 5.00033 8.33366H10.2503L12.3337 6.08366C12.6392 5.75033 13.0073 5.48644 13.4378 5.29199C13.8684 5.09755 14.3198 5.00033 14.792 5.00033H21.667C22.1392 5.00033 22.535 5.16005 22.8545 5.47949C23.1739 5.79894 23.3337 6.19477 23.3337 6.66699C23.3337 7.13921 23.1739 7.53505 22.8545 7.85449C22.535 8.17394 22.1392 8.33366 21.667 8.33366H14.792L11.7503 11.667H5.00033V31.667H31.667V18.3337C31.667 17.8614 31.8267 17.4656 32.1462 17.1462C32.4656 16.8267 32.8614 16.667 33.3337 16.667C33.8059 16.667 34.2017 16.8267 34.5212 17.1462C34.8406 17.4656 35.0003 17.8614 35.0003 18.3337V31.667C35.0003 32.5837 34.6739 33.3684 34.0212 34.0212C33.3684 34.6739 32.5837 35.0003 31.667 35.0003H5.00033ZM31.667 8.33366H30.0003C29.5281 8.33366 29.1323 8.17394 28.8128 7.85449C28.4934 7.53505 28.3337 7.13921 28.3337 6.66699C28.3337 6.19477 28.4934 5.79894 28.8128 5.47949C29.1323 5.16005 29.5281 5.00033 30.0003 5.00033H31.667V3.33366C31.667 2.86144 31.8267 2.4656 32.1462 2.14616C32.4656 1.82671 32.8614 1.66699 33.3337 1.66699C33.8059 1.66699 34.2017 1.82671 34.5212 2.14616C34.8406 2.4656 35.0003 2.86144 35.0003 3.33366V5.00033H36.667C37.1392 5.00033 37.535 5.16005 37.8545 5.47949C38.1739 5.79894 38.3337 6.19477 38.3337 6.66699C38.3337 7.13921 38.1739 7.53505 37.8545 7.85449C37.535 8.17394 37.1392 8.33366 36.667 8.33366H35.0003V10.0003C35.0003 10.4725 34.8406 10.8684 34.5212 11.1878C34.2017 11.5073 33.8059 11.667 33.3337 11.667C32.8614 11.667 32.4656 11.5073 32.1462 11.1878C31.8267 10.8684 31.667 10.4725 31.667 10.0003V8.33366ZM18.3337 29.167C20.417 29.167 22.1878 28.4378 23.6462 26.9795C25.1045 25.5212 25.8337 23.7503 25.8337 21.667C25.8337 19.5837 25.1045 17.8128 23.6462 16.3545C22.1878 14.8962 20.417 14.167 18.3337 14.167C16.2503 14.167 14.4795 14.8962 13.0212 16.3545C11.5628 17.8128 10.8337 19.5837 10.8337 21.667C10.8337 23.7503 11.5628 25.5212 13.0212 26.9795C14.4795 28.4378 16.2503 29.167 18.3337 29.167ZM18.3337 25.8337C17.167 25.8337 16.1809 25.4309 15.3753 24.6253C14.5698 23.8198 14.167 22.8337 14.167 21.667C14.167 20.5003 14.5698 19.5142 15.3753 18.7087C16.1809 17.9031 17.167 17.5003 18.3337 17.5003C19.5003 17.5003 20.4864 17.9031 21.292 18.7087C22.0975 19.5142 22.5003 20.5003 22.5003 21.667C22.5003 22.8337 22.0975 23.8198 21.292 24.6253C20.4864 25.4309 19.5003 25.8337 18.3337 25.8337Z' fill='%2360E3D5'/%3E%3C/svg%3E%0A");
}

.culture {
    margin: 170px 0 0 0;
}
.culture .wrapper {
    position: relative; /* more의 정렬의 기준 */
}
.culture .tit h2 {
    margin-bottom: 12px;
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.culture .list {
    margin: 43px 0 0 0;
}
.culture .list ul {
    display: flex;
    justify-content: space-between;
}
.culture .list ul li {
    width: 404px;
}
.culture .list ul li a {
    display: block;
}
.culture .list ul li a .photo {
    overflow: hidden; /* photo 영역 밖에 나가는 이미지 숨김 */
    font-size: 0;
    line-height: 0;
}
.culture .list ul li a .photo img {
    transition: 0.5s; /* 만약에 속성이 변경된다면 1초동안 자연스럽게 변경 */
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.culture .list ul li a h3 {
    margin: 33px 0 13px 0;
    color: #1d1d1d;
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.culture .list ul li a span {
    position: relative; /* before/after 정렬의 기준 */
    display: inline-block;
    padding-right: 28px; 
    /* 글자의 오른쪽에 아이콘이 들어가면 그 아이콘이 들어갈 영역까지 
       padding으로 늘려놓음 */
    margin: 13px 0 0 0;
    color: #8E8E8E;
    font-size: 15px;
}
.culture .list ul li a span::after {
    content: "";
    position: absolute;
    right: 0;
    top: -1px;
    width: 21px; /* 아이콘 크기 */
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.025 10.5002L7.61245 7.0877C7.45203 6.92728 7.37183 6.72311 7.37183 6.4752C7.37183 6.22728 7.45203 6.02311 7.61245 5.8627C7.77287 5.70228 7.97703 5.62207 8.22495 5.62207C8.47287 5.62207 8.67703 5.70228 8.83745 5.8627L12.8625 9.8877C12.95 9.9752 13.0119 10.07 13.0484 10.1721C13.0848 10.2742 13.1031 10.3835 13.1031 10.5002C13.1031 10.6169 13.0848 10.7262 13.0484 10.8283C13.0119 10.9304 12.95 11.0252 12.8625 11.1127L8.83745 15.1377C8.67703 15.2981 8.47287 15.3783 8.22495 15.3783C7.97703 15.3783 7.77287 15.2981 7.61245 15.1377C7.45203 14.9773 7.37183 14.7731 7.37183 14.5252C7.37183 14.2773 7.45203 14.0731 7.61245 13.9127L11.025 10.5002Z' fill='%23B8B8B8'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.culture .more {
    position: absolute; 
    /* wrapper를 기준으로 정렬, a::after 정렬의 기준 */
    right: 0;
    top: 80px;
}
.culture .more a {
    display: block;
    padding: 5px 27px 5px 5px;
    color: #8E8E8E;
}
.culture .more a::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 0;
    top: 5px;
    width: 21px; /* 아이콘의 넓이 */
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16669 10.8337H5.00002C4.76391 10.8337 4.56599 10.7538 4.40627 10.5941C4.24655 10.4344 4.16669 10.2364 4.16669 10.0003C4.16669 9.76421 4.24655 9.5663 4.40627 9.40658C4.56599 9.24685 4.76391 9.16699 5.00002 9.16699H9.16669V5.00033C9.16669 4.76421 9.24655 4.5663 9.40627 4.40658C9.56599 4.24685 9.76391 4.16699 10 4.16699C10.2361 4.16699 10.434 4.24685 10.5938 4.40658C10.7535 4.5663 10.8334 4.76421 10.8334 5.00033V9.16699H15C15.2361 9.16699 15.434 9.24685 15.5938 9.40658C15.7535 9.5663 15.8334 9.76421 15.8334 10.0003C15.8334 10.2364 15.7535 10.4344 15.5938 10.5941C15.434 10.7538 15.2361 10.8337 15 10.8337H10.8334V15.0003C10.8334 15.2364 10.7535 15.4344 10.5938 15.5941C10.434 15.7538 10.2361 15.8337 10 15.8337C9.76391 15.8337 9.56599 15.7538 9.40627 15.5941C9.24655 15.4344 9.16669 15.2364 9.16669 15.0003V10.8337Z' fill='%23B8B8B8'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: transform 1s; 
}
.culture .more a:hover {
    color: #006DBB;
}
.culture .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16669 10.8337H5.00002C4.76391 10.8337 4.56599 10.7538 4.40627 10.5941C4.24655 10.4344 4.16669 10.2364 4.16669 10.0003C4.16669 9.76421 4.24655 9.5663 4.40627 9.40658C4.56599 9.24685 4.76391 9.16699 5.00002 9.16699H9.16669V5.00033C9.16669 4.76421 9.24655 4.5663 9.40627 4.40658C9.56599 4.24685 9.76391 4.16699 10 4.16699C10.2361 4.16699 10.434 4.24685 10.5938 4.40658C10.7535 4.5663 10.8334 4.76421 10.8334 5.00033V9.16699H15C15.2361 9.16699 15.434 9.24685 15.5938 9.40658C15.7535 9.5663 15.8334 9.76421 15.8334 10.0003C15.8334 10.2364 15.7535 10.4344 15.5938 10.5941C15.434 10.7538 15.2361 10.8337 15 10.8337H10.8334V15.0003C10.8334 15.2364 10.7535 15.4344 10.5938 15.5941C10.434 15.7538 10.2361 15.8337 10 15.8337C9.76391 15.8337 9.56599 15.7538 9.40627 15.5941C9.24655 15.4344 9.16669 15.2364 9.16669 15.0003V10.8337Z' fill='%23006DBB'/%3E%3C/svg%3E%0A");
    transform: rotate(180deg);
}

.tour {
    padding: 122px 0 113px 0;
    margin-top: 94px;
    background-color: #F7F7F7;
}
.tour .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.tour .tit h2 {
    margin-bottom: 12px;
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.tour .list {
    margin: 43px 0 0 0;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
}
.tour .list ul li {
    width: 190px;
}
.tour .list ul li.on {
    width: 654px;
}
.tour .list ul li a {
    display: block;
    height: 354px; 
    /* li와 a 높이를 동일하게 주기 위해서 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    /* 오버되지 않은 li의 스타일 */
    text-align: center;
    padding: 260px 0 0 0;
}
.tour .list ul li.on a { /* 오버한 li의 스타일 */
    padding: 218px 0 0 36px;
    text-align: left;
}
.tour .list ul li.list1 a {
    background-image: url(../images/tour_bg1.jpg);
}
.tour .list ul li.list2 a {
    background-image: url(../images/tour_bg2.jpg);
}
.tour .list ul li.list3 a {
    background-image: url(../images/tour_bg3.jpg);
}
.tour .list ul li.list4 a {
    background-image: url(../images/tour_bg4.jpg);
}
/* 오버되지 않은 li의 스타일 */
.tour .list ul li a h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;

    margin-bottom: 13px; 
    /* p와의 여백 - 오버했을때만 적용될 스타일이지만
       지금줘도 문제는 되지 않음, 그럼 미리 스타일 주는게 좋음 */
}
.tour .list ul li.on a h3 {
    font-size: 25px;
}
.tour .list ul li a p {
    display: none; /* 숨겨졌다가 오버하면 나타남 */
}
.tour .list ul li.on a p {
    display: block; 
    /* none으로 숨김요소는 dispaly에 다른 아무값이나 줘도 나타남 */
}
.tour .list ul li a span {
    /* 오버했을때만 나타날 요소이지만 미리 스타일 주고 
       보이고 안보이고 상태만 변경 */
    /* display: inline-block; */
    display: none; /* 숨겨졌다가 오버하면 나타남 */
    padding-right: 26px;
    font-size: 15px;
    position: relative; /* after 정렬의 기준 */
}
.tour .list ul li.on a span {
    display: inline-block;
}
.tour .list ul li a span::after {
    content: "";
    position: absolute;
    right: 0;
    top: -1px;
    width: 21px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0242 10.5002L7.61172 7.0877C7.4513 6.92728 7.37109 6.72311 7.37109 6.4752C7.37109 6.22728 7.4513 6.02311 7.61172 5.8627C7.77214 5.70228 7.9763 5.62207 8.22422 5.62207C8.47214 5.62207 8.6763 5.70228 8.83672 5.8627L12.8617 9.8877C12.9492 9.9752 13.0112 10.07 13.0477 10.1721C13.0841 10.2742 13.1023 10.3835 13.1023 10.5002C13.1023 10.6169 13.0841 10.7262 13.0477 10.8283C13.0112 10.9304 12.9492 11.0252 12.8617 11.1127L8.83672 15.1377C8.6763 15.2981 8.47214 15.3783 8.22422 15.3783C7.9763 15.3783 7.77214 15.2981 7.61172 15.1377C7.4513 14.9773 7.37109 14.7731 7.37109 14.5252C7.37109 14.2773 7.4513 14.0731 7.61172 13.9127L11.0242 10.5002Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.tour .more {
    position: absolute; /* a::after 정렬의 기준 */
    right: 0;
    top: 0;
}
.tour .more a {
    display: block;
    padding: 5px 27px 5px 5px;
}
.tour .more a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 3px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%235f6368'%3E%3Cpath d='M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: 1s; /* 변화가 있을 예정일 때 부드럽게 처리해라 */
}
.tour .more a:hover {
    color: #006DBB;
}
.tour .more a:hover::after {
    transform: rotate(360deg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23006DBB'%3E%3Cpath d='M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z'/%3E%3C/svg%3E");
}
.community {
    height: 1152px;
    background: url(../images/community_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.community .wrapper {
    display: flex;
    justify-content: space-between;
}
.community .tit {
    margin: 175px 0 0 0;
}
.community .tit strong {
    margin-bottom: 7px;
    font-size: 25px;
}
.community .tit h2 {
    margin-bottom: 14px;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.community .inner {
    margin: 175px 0 0 0;
    display: flex;
}
.community .notice {
    width: 535px;
    height: 380px;
    background-color: rgba(36,64,84,0.49);
    border-radius: 20px;
    backdrop-filter: blur(1.5px);
    padding: 42px 41px 0 40px; /* 높이를 특정했기 때문에 아래 여백은 필요없음 */
    position: relative; /* more 정렬의 기준 */
}
.community .notice h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
}
.community .notice .list {
    margin: 10px 0 0 0;
}
.community .notice .list ul li {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.community .notice .list ul li:last-child {
    border-bottom: none;
}
.community .notice ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 위아래 가운데 */
    padding: 17px 0 8px 0;
}
.community .notice .list ul li a strong {
    position: relative; /* after 정렬의 기준 */
}
.community .notice .list ul li a:hover strong {
    font-weight: 800;
}
.community .notice .list ul li a span {
    color: rgba(255,255,255,0.8);
}
.community .notice .more {
    position: absolute; /* notice를 기준으로, a::before의 정렬의 기준 */
    right: 41px;
    top: 45px;
}
.community .notice .more a {
    display: block;

    /* 글자 대신에 아이콘만 들어간 경우 */
    width: 24px;
    height: 24px;
    font-size: 0; /* html코드에 쓴 글자 안보이게 하기 */
    line-height: 0;
}
.community .notice .more a::before {
    content: "";
    position: absolute; /* more를 기준으로 */
    left: 0;
    top: 0;
    width: 100%; /* a에 이미지 아이콘 사이즈가 입력됨, 그걸 꽉채우면 됨 */
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23fff'%3E%3Cpath d='M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 1s;
}
.community .notice .more a:hover::before {
    transform: rotate(360deg);
}
.community .link {
    margin: 112px 0 0 25px;
    width: 284px;
}
.community .link ul {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 허용-flex는 무조건 한줄로 */
    gap: 12px; /* flex로 정렬되는 요소들 사이의 여백 */
}
.community .link ul li {
    width: 136px;
}
.community .link ul li a {
    height: 128px;
    display: block;
    background-color: rgba(36,64,84,0.49);
    border-radius: 20px;
    backdrop-filter: blur(1.5px);

    padding: 23px 0 0 22px; /* 글자를 안으로 밀어내려고 */
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    position: relative;
}
.community .link ul li a::after {
    content: "";
    position: absolute; /* a를 기준으로 */
    right: 0;
    bottom: 0;
    width: 33px; /* 아이콘 크기 */
    height: 33px; 
    margin: 0 16px 19px 0;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.community .link ul li.ico1 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7'%3E%3Cpath d='M9 28.5V30C9 30.425 8.85625 30.7812 8.56875 31.0688C8.28125 31.3563 7.925 31.5 7.5 31.5H6C5.575 31.5 5.21875 31.3563 4.93125 31.0688C4.64375 30.7812 4.5 30.425 4.5 30V18L7.65 9C7.8 8.55 8.06875 8.1875 8.45625 7.9125C8.84375 7.6375 9.275 7.5 9.75 7.5H26.25C26.725 7.5 27.1562 7.6375 27.5438 7.9125C27.9313 8.1875 28.2 8.55 28.35 9L31.5 18V30C31.5 30.425 31.3563 30.7812 31.0688 31.0688C30.7813 31.3563 30.425 31.5 30 31.5H28.5C28.075 31.5 27.7188 31.3563 27.4313 31.0688C27.1438 30.7812 27 30.425 27 30V28.5H9ZM8.7 15H27.3L25.725 10.5H10.275L8.7 15ZM11.25 24C11.875 24 12.4063 23.7812 12.8438 23.3438C13.2812 22.9063 13.5 22.375 13.5 21.75C13.5 21.125 13.2812 20.5938 12.8438 20.1563C12.4063 19.7188 11.875 19.5 11.25 19.5C10.625 19.5 10.0938 19.7188 9.65625 20.1563C9.21875 20.5938 9 21.125 9 21.75C9 22.375 9.21875 22.9063 9.65625 23.3438C10.0938 23.7812 10.625 24 11.25 24ZM24.75 24C25.375 24 25.9062 23.7812 26.3438 23.3438C26.7812 22.9063 27 22.375 27 21.75C27 21.125 26.7812 20.5938 26.3438 20.1563C25.9062 19.7188 25.375 19.5 24.75 19.5C24.125 19.5 23.5938 19.7188 23.1562 20.1563C22.7188 20.5938 22.5 21.125 22.5 21.75C22.5 22.375 22.7188 22.9063 23.1562 23.3438C23.5938 23.7812 24.125 24 24.75 24ZM7.5 25.5H28.5V18H7.5V25.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    
}
.community .link ul li.ico2 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.75 27.5V16.0625C7.6875 15.7708 6.79688 15.1875 6.07812 14.3125C5.35938 13.4375 5 12.4167 5 11.25V2.5H7.5V11.25H8.75V2.5H11.25V11.25H12.5V2.5H15V11.25C15 12.4167 14.6406 13.4375 13.9219 14.3125C13.2031 15.1875 12.3125 15.7708 11.25 16.0625V27.5H8.75ZM21.25 27.5V17.5H17.5V8.75C17.5 7.02083 18.1094 5.54688 19.3281 4.32813C20.5469 3.10938 22.0208 2.5 23.75 2.5V27.5H21.25Z' fill='white' fill-opacity='0.7'/%3E%3C/svg%3E%0A");
   
}
.community .link ul li.ico3 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.66797 25.3307V17.3307C2.66797 16.7307 2.79019 16.1863 3.03464 15.6974C3.27908 15.2085 3.6013 14.7752 4.0013 14.3974V10.6641C4.0013 9.55295 4.39019 8.60851 5.16797 7.83073C5.94575 7.05295 6.89019 6.66406 8.0013 6.66406H13.3346C13.8457 6.66406 14.3235 6.75851 14.768 6.9474C15.2124 7.13628 15.6235 7.3974 16.0013 7.73073C16.3791 7.3974 16.7902 7.13628 17.2346 6.9474C17.6791 6.75851 18.1569 6.66406 18.668 6.66406H24.0013C25.1124 6.66406 26.0569 7.05295 26.8346 7.83073C27.6124 8.60851 28.0013 9.55295 28.0013 10.6641V14.3974C28.4013 14.7752 28.7235 15.2085 28.968 15.6974C29.2124 16.1863 29.3346 16.7307 29.3346 17.3307V25.3307H26.668V22.6641H5.33464V25.3307H2.66797ZM17.3346 13.3307H25.3346V10.6641C25.3346 10.2863 25.2069 9.96962 24.9513 9.71406C24.6957 9.45851 24.3791 9.33073 24.0013 9.33073H18.668C18.2902 9.33073 17.9735 9.45851 17.718 9.71406C17.4624 9.96962 17.3346 10.2863 17.3346 10.6641V13.3307ZM6.66797 13.3307H14.668V10.6641C14.668 10.2863 14.5402 9.96962 14.2846 9.71406C14.0291 9.45851 13.7124 9.33073 13.3346 9.33073H8.0013C7.62352 9.33073 7.30686 9.45851 7.0513 9.71406C6.79575 9.96962 6.66797 10.2863 6.66797 10.6641V13.3307ZM5.33464 19.9974H26.668V17.3307C26.668 16.953 26.5402 16.6363 26.2846 16.3807C26.0291 16.1252 25.7124 15.9974 25.3346 15.9974H6.66797C6.29019 15.9974 5.97352 16.1252 5.71797 16.3807C5.46241 16.6363 5.33464 16.953 5.33464 17.3307V19.9974Z' fill='white' fill-opacity='0.7'/%3E%3C/svg%3E%0A");
    
}
.community .link ul li.ico4 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.75 29.7526V22.6693C11.2861 22.5512 9.85174 22.3859 8.44688 22.1734C7.04201 21.9609 5.64306 21.654 4.25 21.2526L4.95833 18.4193C6.91806 18.9623 8.90139 19.3342 10.9083 19.5349C12.9153 19.7356 14.9458 19.8359 17 19.8359C19.0306 19.8359 21.0493 19.7356 23.0562 19.5349C25.0632 19.3342 27.0583 18.9623 29.0417 18.4193L29.75 21.2526C28.3333 21.654 26.9226 21.9609 25.5177 22.1734C24.1128 22.3859 22.6903 22.5512 21.25 22.6693V29.7526H12.75ZM17 18.4193C16.1972 18.4193 15.5243 18.1477 14.9812 17.6047C14.4382 17.0616 14.1667 16.3887 14.1667 15.5859C14.1667 14.8068 14.4382 14.1398 14.9812 13.5849C15.5243 13.03 16.1972 12.7526 17 12.7526C17.7792 12.7526 18.4462 13.03 19.001 13.5849C19.5559 14.1398 19.8333 14.8068 19.8333 15.5859C19.8333 16.3887 19.5559 17.0616 19.001 17.6047C18.4462 18.1477 17.7792 18.4193 17 18.4193ZM6.375 14.1693C5.76111 14.1693 5.25347 13.9686 4.85208 13.5672C4.45069 13.1658 4.25 12.6582 4.25 12.0443C4.25 11.454 4.45069 10.9523 4.85208 10.5391C5.25347 10.1259 5.76111 9.91927 6.375 9.91927C6.96528 9.91927 7.46701 10.1259 7.88021 10.5391C8.2934 10.9523 8.5 11.454 8.5 12.0443C8.5 12.6582 8.2934 13.1658 7.88021 13.5672C7.46701 13.9686 6.96528 14.1693 6.375 14.1693ZM27.625 14.1693C27.0111 14.1693 26.5035 13.9686 26.1021 13.5672C25.7007 13.1658 25.5 12.6582 25.5 12.0443C25.5 11.454 25.7007 10.9523 26.1021 10.5391C26.5035 10.1259 27.0111 9.91927 27.625 9.91927C28.2153 9.91927 28.717 10.1259 29.1302 10.5391C29.5434 10.9523 29.75 11.454 29.75 12.0443C29.75 12.6582 29.5434 13.1658 29.1302 13.5672C28.717 13.9686 28.2153 14.1693 27.625 14.1693ZM10.2708 8.85677C9.65694 8.85677 9.14931 8.65608 8.74792 8.25469C8.34653 7.8533 8.14583 7.34566 8.14583 6.73177C8.14583 6.14149 8.34653 5.63976 8.74792 5.22656C9.14931 4.81337 9.65694 4.60677 10.2708 4.60677C10.8611 4.60677 11.3628 4.81337 11.776 5.22656C12.1892 5.63976 12.3958 6.14149 12.3958 6.73177C12.3958 7.34566 12.1892 7.8533 11.776 8.25469C11.3628 8.65608 10.8611 8.85677 10.2708 8.85677ZM23.7292 8.85677C23.1153 8.85677 22.6076 8.65608 22.2062 8.25469C21.8049 7.8533 21.6042 7.34566 21.6042 6.73177C21.6042 6.14149 21.8049 5.63976 22.2062 5.22656C22.6076 4.81337 23.1153 4.60677 23.7292 4.60677C24.3194 4.60677 24.8212 4.81337 25.2344 5.22656C25.6476 5.63976 25.8542 6.14149 25.8542 6.73177C25.8542 7.34566 25.6476 7.8533 25.2344 8.25469C24.8212 8.65608 24.3194 8.85677 23.7292 8.85677ZM17 7.08594C16.3861 7.08594 15.8785 6.88524 15.4771 6.48385C15.0757 6.08247 14.875 5.57483 14.875 4.96094C14.875 4.37066 15.0757 3.86892 15.4771 3.45573C15.8785 3.04253 16.3861 2.83594 17 2.83594C17.5903 2.83594 18.092 3.04253 18.5052 3.45573C18.9184 3.86892 19.125 4.37066 19.125 4.96094C19.125 5.57483 18.9184 6.08247 18.5052 6.48385C18.092 6.88524 17.5903 7.08594 17 7.08594Z' fill='white' fill-opacity='0.7'/%3E%3C/svg%3E%0A");
    
}
footer {
    padding: 87px 0 313px 0;
    color: #3d3d3d;
}
footer .f_nav ul {
    display: flex;
    gap: 44px; /* flex로 정렬되는 li사이의 여백 - 하위 버전 브라우저에서는 구현이 안될지도 모름 */
}
footer .f_nav ul li {
    position: relative;
}
footer .f_nav ul li::after {
    content: "";
    position: absolute;
    right: -24px;
    top: 5px;
    width: 1px;
    height: 11px;
    background-color: rgba(29,29,29,0.2);
}
footer .f_nav ul li:last-child::after {
    display: none; /* 마지막 li 선을 숨김 */
}
footer .f_nav ul li.privacy a {
    color: #006DBB;
    font-weight: 700;
}
footer .f_info {
    margin: 45px 0 20px 0;
    display: flex;
    gap: 16px;
}
footer .copyright {
    color: rgba(29,29,29,0.5);
    margin-top: 51px;
}
footer .copyright .license {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}
footer .copyright .license::after {
    content: "";
    position: absolute; /* license를 기준으로 정렬 */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(29,29,29,0.5);

}
.wrap {
    padding-bottom: 500px;    
}
